* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.login {

    border: 1 px solid black;
    width: 400px;
    height: 500px;
    background: url(./assets/images/cute-pink-hello-kitty-7479l81o21tk9oko.jpg);
    color: rgb(246, 8, 206);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0 auto;

}

form {
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(40%);
    flex-direction: column;
    display: flex;
    gap: 5px;


}

h1 {
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;

}

label {

    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;

}

input {
    background: rgba(255, 255, 255, 0.3);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: white;


}

button {
    background: rgb(45, 126, 231, );
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    border: none;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    color: rgb(247, 9, 172);
    cursor: pointer;
}


body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.gradient {
    position: absolute;
    width: 300%;
    height: 300%;
    top: -100%;
    left: -100%;
    background: linear-gradient(0deg, rgba(188, 34, 195, 1) 0%, rgba(253, 45, 175, 1) 100%);
    background-size: 200% 200%;
    animation: smoothBackground 5s linear infinite;
    z-index: -1;
}

@keyframes smoothBackground {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}